@import url('https: //fonts.googleapis.com/css?family=Inter');

:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --primary-color: #0652dd;
    --secondary-color: #ea2027;
    --line-height: 1.7rem;
    --transition: 0.4s ease-in;
}

/* Smooth scroll effect */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}

body {
    font-family: "Inter";
}

ol,
ul {
    list-style: none;
}

.question {
    position: absolute;
    width: 1519px;
    height: 525px;
    left: 0px;
    top: 4971px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.9rem;
    background-color: #F9F7FF;
}

.qs-text h1 {
    /* margin-left: 50%; */
    font-weight: 800;
    font-size: 54px;
    line-height: 64px;
    margin-bottom: 1rem;
}

#qs-text {
    /* margin-left: 50%; */
    font-weight: 800;
    font-size: 54px;
    line-height: 64px;
    margin-bottom: 1rem;
    color: #6255A5;
}

.qs-text p {
    padding-top: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #1B1C31;
}

#faq {
    color: #85D1A0;
}

footer {
    /* background: #F5F5F5; */
    padding-top: 5rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.bottom {
    position: absolute;
    width: 1440px;
    height: 65px;
    left: 0px;
    top: 5950px;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer__logo {
    width: 150px;
    margin-bottom: 2rem;
}

.footer__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #74757E;
    margin-bottom: 2rem;
}

.footer__socials__title {
    font-size: 1.8rem;
    color: var(--black-1);
    margin-bottom: 1rem;
}

.footer__socials li {
    display: inline-block;
    margin-right: 0.5rem;
}

.footer__socials a {
    padding: 0.5rem 0.8rem;
    background-color: var(--white-1);
    border: 1px solid var(--green-2);
    border-radius: 8px;
}

.footer__socials svg {
    width: 20px;
    color: var(--black-2);
}

.footer__text__title {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #212121;
}

.footer__text a {
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    color: #74757E;
}

@media only screen and (min-width: 768px) {
    footer {
        padding-top: 8rem;
        padding-bottom: 4rem;
    }

    .footer__wrapper {
        flex-direction: row;
    }

    .footer__col1 {
        flex: 4;
    }

    .footer__col2,
    .footer__col3,
    .footer__col4 {
        flex: 2;
    }

    .footer__desc {
        max-width: 300px;
        font-size: 1.8rem;
        margin-bottom: 2.5rem;
    }

    .footer__socials__title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .footer__text__title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .footer__text a {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
}

#copyright {
    /* top: 6066px; */
    height: 65px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    padding: 15px;
    background-color: #6255A5;
    color: white;
}

.foot {
    position: absolute;
    width: 1519px;
    height: 65px;
    left: 0px;
    top: 6400px;
}

@media only screen and (min-width: 768px) {
    .copyright__text {
        font-size: 1.6rem;
        text-align: left;
    }
}

.part2 {
    position: absolute;
    width: 684px;
    height: 97px;
    margin-left: 450px;
    top: 895px;

    background: #FFFFFF;
    border: 1px solid #F1F0F0;
    border-radius: 6px;
    gap: 1.9rem;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
}

.searchBar {
    height: 40px;
    width: 1050px;
    margin: auto;
    text-align: center;
}

.bar1 {
    padding: 5px;
    border: 1px solid rgb(189, 183, 183);
    box-shadow: 1px 1px 5px 1px rgb(189, 183, 183);
    border-radius: 2px;
    width: 60%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.col {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col p {
    display: inline-block;
    width: 165px;
    height: 55px;
    padding: 14px 25px;
    text-align: center;
}

.col a {
    display: inline-block;
    width: 165px;
    height: 55px;
    padding: 14px 25px;
    text-align: center;
    color: #fff;
    background: #85D1A0;
    border-radius: 6px;
    border-color: #85D1A0;
}

.bar2 {
    margin: auto;
    margin-left: 30px;
    height: auto;
    border: 1px solid rgb(189, 183, 183);
    box-shadow: 1px 1px 5px 1px rgb(189, 183, 183);
    border-radius: 2px;
    width: 30%;
    float: left;
}

.col-right {
    display: inline-block;
    width: 250px;
    height: 55px;
    padding: 14px 25px;
    text-align: center;
}

.col-right p {
    margin-left: 15px;
    font-size: large;
}